body{
    margin: auto;
  padding: 1rem;
  background-color:cornflowerblue;
  color: white;
  text-align: center;
  height: 100vh;
}

main {
    border: 1px solid white;
    text-align: center;
    margin: auto;
    height: 100%;
  }

  .footer {
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    color: var(--primary-color);
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem;
    
}

.footer .link{
    color: var(--primary-color);
    display: inline;
    
}

.footer ul{
    padding-inline-start: 0px;
    display: inline;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
    color: var(--primary-color);
}

